function toggleLoader($button)
{
	$button.toggle();
	$button.siblings('.ajax-loader').toggle();
}

function getFilterFromParts(queryParts)
{
	return Object.keys(queryParts)
		.filter(function (key)
		{
			return queryParts[key];
		})
		.map(function (key)
		{
			return key + '=' + queryParts[key];
		})
		.join('&');
}

function onSaveCouch(event)
{
	event.preventDefault();
	event.stopPropagation();

	var $button = $(event.target);
	var $couchInformation = $button.parents('.couch-information');

	$couchInformation.find('.form-group').removeClass('has-error');

	var $descriptionInput = $couchInformation.find('.j-description-input');
	var $adminCodeInput = $couchInformation.find('.j-code-input');

	var description = $descriptionInput.val();
	var adminCode = $adminCodeInput.val();
	var comments = $couchInformation.find('.j-comments-input').val();

	var hasErrors = false;
	if (!description)
	{
		$descriptionInput.parents('.form-group').addClass('has-error');
		hasErrors = true;
	}

	if (!adminCode)
	{
		$adminCodeInput.parents('.form-group').addClass('has-error');
		hasErrors = true;
	}

	if (hasErrors)
	{
		return;
	}

	var queryParts = {
		description: description,
		host_comments: comments,
		admin_code: adminCode,
		host_id: $couchInformation.data('hostId')
	};

	var queryFilter = getFilterFromParts(queryParts);

	toggleLoader($button);

	$.post('/couches?' + queryFilter)
		.done(function(response)
		{
			if (response.error && response.error == 'InvalidCode')
			{
				$adminCodeInput.parents('.form-group').addClass('has-error');
			}
			else if (response.error)
			{
				alert('An unknown error ocurred while saving the couch. Please try again.')
			}
		})
		.fail(function ()
		{
			$('<p>There was an error saving the new couch. Please try again</p>').appendTo($alertsPanel);
			$alertsPanel.show();
		})
		.always(function ()
		{
			toggleLoader($button);
		});
}

$(document).ready(function()
{
	$('.j-claim-couch-btn').on('click', function(event)
	{
			event.preventDefault();
			event.stopPropagation();

			var $button = $(event.target);
			var couchId = $button.parents('.couch-container').data('couchId');

			$informationContainer = $button.parents('.occupant-information');

			$informationContainer.find('.form-group').removeClass('has-error');

			var $nameInput = $informationContainer.find('.j-name-input');
			var $phoneInput = $informationContainer.find('.j-phone-input');
			var $emailInput = $informationContainer.find('.j-email-input');
			var $commentsInput = $informationContainer.find('.j-comments-input');

			var name= $nameInput.val();
			var phone = $phoneInput.val();
			var email = $emailInput.val();
			var comments = $commentsInput.val();

			var hasErrors = false;
			if (!name)
			{
				$nameInput.parents('.form-group').addClass('has-error');
				hasErrors = true;
			}

			if (!phone && !email)
			{
				$phoneInput.parents('.form-group').addClass('has-error');
				$emailInput.parents('.form-group').addClass('has-error');
				hasErrors = true;
			}

			if (hasErrors)
			{
				return;
			}

			var queryParts = {
				occupant_name: name,
				occupant_phone: phone,
				occupant_email: email,
				occupant_comments: comments
			}
			var queryFilter = getFilterFromParts(queryParts);

			toggleLoader($button);
			$.ajax({ url: '/couches/' + couchId + '?' + queryFilter, type: 'PUT' }).always(function()
			{
				toggleLoader($button);
			})
	});

	$('.j-add-couch-btn').on('click', function(event)
	{
		event.preventDefault();
		event.stopPropagation();

		var $button = $(event.target);
		var hostId = $button.data("hostId");
		var $newCouchForm = $("<%= j render 'couches/new' %>".replace('$hostId', hostId));
		var $collapsePanel = $button.parents('.host-container').find('.collapse');
		$collapsePanel.collapse('show');

		$newCouchForm.prependTo($collapsePanel);
		$collapsePanel.find('.j-save-couch-btn').on('click', onSaveCouch);
	});

	$('.j-add-host-btn').on('click', function(event)
	{
		event.preventDefault();
		event.stopPropagation();


		var $button = $(event.target);
		var $modalBody = $button.parents('.modal-content').find('.modal-body');

		$modalBody.find('.form-group').removeClass('has-error');

		var $nameInput = $modalBody.find('.j-name-input');
		var $emailInput = $modalBody.find('.j-email-input');
		var $phoneInput = $modalBody.find('.j-phone-input');
		var $adminCodeInput = $modalBody.find('.j-code-input');

		var name = $nameInput.val();
		var email = $emailInput.val();
		var phone = $phoneInput.val();
		var adminCode = $adminCodeInput.val();

		var hasErrors = false;
		if (!name)
		{
			$nameInput.parents('.form-group').addClass('has-error');
			hasErrors = true;
		}

		if (!email && !phone)
		{
			$emailInput.parents('.form-group').addClass('has-error');
			$phoneInput.parents('.form-group').addClass('has-error');
			hasErrors = true;
		}

		if (!adminCode)
		{
			$adminCodeInput.parents('.form-group').addClass('has-error');
			hasErrors = true;
		}

		if (hasErrors)
		{
			return;
		}

		toggleLoader($button);

		var queryParts = {
			name: name,
			email: email,
			phone: phone,
			admin_code: adminCode
		};

		var queryFilter = getFilterFromParts(queryParts);

		$.post('/hosts?' + queryFilter).done(function()
		{
			$button.parents('.modal').modal('hide');
		})
		.fail(function()
		{
			$('<p>There was an error saving the new host. Please try again</p>').appendTo($alertsPanel);
			$alertsPanel.show();
		})
		.always(function()
		{
			toggleLoader($button);
		});
	});
});
