// Place all the styles related to the Hosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title-container {
	.title {
		text-align: center;
	}

	.add-host {
		position: absolute;
		right: 30px;
		top: 25px;
	}
}

.hosts-container {
	padding: 0 30px;

	.host-container {
		.host-header {
			text-decoration: none;
			color: black;
			border-bottom: 1px solid black;

			&.first-header {
				border-top: 1px solid black;
			}

			.available-couches {
				font-size: 18px;
			}

			&:hover {
				cursor: pointer;
			}

			.add-couch {
				float: right;
			}
		}

		.couch-container {
			height: 390px;
			border-bottom: 1px solid black;
		}
	}
}

.ajax-loader {
	display: none;
}

.alerts-panel {
	display: none;
}
